QTabBar::tab:selected {
background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
stop: 0 #0096DB, stop: 1 #113f93);
color: white;
font-size: 10px;
}
QTabBar::tab {
background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
stop: 0 #113f93, stop: 1 #0096db);
color: lightGray;
padding: 6px; }
QTabWidget::pane {
border: 0;
font-size: 10px;
}
QDockWidget::title { /* headings of dock widgets */
background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
stop: 0 #113f93, stop: 1 #0096db);
color: white !important;
text-align: center;
font-size: 10px;
}
QDockWidget {
background-color: rgb(255, 255, 255);
color: black;
font-size: 10px;
}
QToolButton { /* all types of tool button */
    border: 2px solid #8f8f91;
    border-radius: 6px;
    padding: 3px;
    color: white;
    font-size: 10px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #0096db, stop: 1 #113f93);
}

QToolButton[popupMode="1"] { /* only for MenuButtonPopup */
    font-size: 10px;
    padding-right: 20px; /* make way for the popup button */
}

QToolButton:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #113f93, stop: 1 #0096DB);
    color: white;
    padding: 6px;
    font-size: 10px;
}
