h1 {
color: #003333;
font-size: 160%;
font-weight: bold;
}
h2 {
color: #000066;
font-size: 140%;
font-weight: bold;
}
h3 { 
color: #003366;
font-size: 120%
font-weight: bold;
}
p {
align: justified;
}
body {
background-color: #fff;
width: 1050px;
}
#copy {
background-color: #663366;
color: #fff;
}
a {
 color: #006600;
 font-weight: bold;
 text-decoration: none;
}
#header {
background-color: #663366;
height: 20px;
width: 100%;
padding: 0 0;
}
